<!DOCTYPE html>
<html>
  <head>
    <title>社保动态</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="">
    <link rel="apple-touch-startup-image" media="(device-height:568px)" href="">
    <link rel="apple-touch-startup-image" media="(device-height:480px)" href="">

    <script type="text/javascript">
        (function() {
            var isIPhone = window.navigator.appVersion.match(/iphone/gi);
            var scale = 1.0;
            var ratio = 1;
            if (isIPhone && window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }
            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            document.documentElement.style.fontSize = 50 * ratio + "px";
        })();
    </script>

    <link rel='stylesheet' href='/stylesheets/global.css' />
  </head>
  <body>     

    <dl class="mod-intro">
        <dt class="mod-intro-title">
        <h3>社会保险登记、变更手续的办理</h3>
        <div>
            <span>发布时间：2016-03-24</span>
        </div>
        </dt>
        <dd class="mod-intro-content">
            <p>【政策依据】：《社会保险登记管理暂行办法》（中华人民共和国劳动和社会保障部令第1号）</p><p>【受理条件】：符合参保条件</p><p>【材料明细】：填写《社会保险登记表》，并出示以下证件和资料：（1）营业执照、税务登记证，批准成立证件或文件（出示原件，留存复印件）；（2）国家质量监督部门颁发的组织机构统一代码证书；（3）开户申请（请示）；（4）企业法人身份证件（复印件）。</p><p>【办理流程】：&nbsp;企业单位申请办理社会保险登记时，应当填写《社会保险登记表》，当单位名称、住所或地址、法定代表人、单位类型、组织机构统一代码、主管部门、隶属关系、开户银行帐号发生变更时，应自变更之日起30日内向省社会养老保险事业管理局申请办理社会保险登记证变更，并同时提供变更事项的证明材料。</p><p>【办理机构】：河南省社会养老保险事业管理局在职职工管理处</p><p>【联系电话】：037165622519</p><p>【办理时限】：30个工作日</p><p>【受理地址】：河南省社会养老保险事业管理局业务经办大厅（郑州市九如路商务外环交叉口郑银大厦5楼）社会保险登记、变更窗口。</p>
            <p>【对外办公时间】：每月5-25日;9:00-12:00,13:00-17:00</p>
            <P style="MARGIN: 5px"><strong>一、企业养老保险扩面征缴任务超额完成</strong></p><P style="MARGIN: 5px">2014年，继续将农民工和灵活就业人员作为扩面重点，着力解决农民工和灵活就业人员参保的瓶颈问题;切实做好养老保险关系接续和困难群体缴费工作，狠抓清欠;积极稳妥地解决企业养老保险历史遗留问题，并做好收尾工作;实行目标管理，强化养老保险费的征缴。截止2014年12月底，全省企业养老保险参保人员达到1293.3万人，比年初净增79.67万人。</p><P style="MARGIN: 5px"><strong>二、企业离退休人员养老金按时足额发放</strong></p><P style="MARGIN: 5px">2014年，全省离退休人员养老金按时足额发放率100%，有效地保障了全省企业离退休人员的基本生活。同时，连续第10次为企业退休人员调整基本养老金，调整后全省企业退休人员月人均养老金达到1950.21元。</p><P style="MARGIN: 5px"><strong>三、城乡居民养老保险全覆盖成果得到巩固</strong></p><P style="MARGIN: 5px">截止2014年12月底，全省城乡居保参保人数已达到4844万人，参保率达到97.5%，基本实现参保人群全覆盖。参保覆盖率高于全国平均水平。全省缴费人数3229万人，当年缴费率91.1%，高于全国平均水平。做好示范点建设工作，通过示范点建设，城乡居保经办服务手段和服务能力得到有效提升，全省实现了省、市、县、乡四级联网和通过信息系统办理业务。</p><P style="MARGIN: 5px"><strong>四、机关事业单位养老保险工作稳步发展</strong></p><P style="MARGIN: 5px">截至2014年12月底，全省机关事业单位参保人数137.6万人，其中，在职职工106.3万人，离退休人员31.3万人。全省全年做到按时足额发放机关事业单位退休人员养老金。</p><P style="MARGIN: 5px"><strong>五、信息化、标准化建设全面推进</strong></p><P style="MARGIN: 5px">企业养老保险数据基本实现市级集中，县（市、区）作为终端办理业务。建立了全省企业养老保险省级统筹业务指标数据库，为进一步规范企业养老保险省级统筹，实行精细化管理，奠定了基础。进一步完善省直统筹参保单位网上业务申报办理系统，方便了参保单位办理业务。组织开发了触摸屏自助指纹比对系统。继续做好养老保险个人权益记录单邮寄工作。全省养老保险网站群初具规模。认真贯彻落实国家出台的两个标准化建设文件，标准化建设继续加强。三门峡、焦作两市试点工作初见成效。</p><P style="MARGIN: 5px"><strong>六、基金管理工作进一步加强</strong></p><P style="MARGIN: 5px">认真贯彻落实社会保险基金管理财务和会计制度。完善机关事业养老保险会计报表报送体系，实现了全省机关事业单位养老保险基金会计报表的网络化报送。规范全省城乡居保基金管理行为、指导省直管县基金财务管理。组织开展了&ldquo;边检查，边培训，边督促整改&rdquo;的基金监督检查新模式。开展实地调研，对省直管县企业养老保险基金财务管理提出了具体明确的管理意见。提升基金管理内部监控手段。充分发挥基金财务数据全省集中的优势，完善和强化全省城乡居保基金财务信息化管理系统监管功能，加强预警分析。做好与财政专户资金的定期对账工作，确保基金利息收入最大化，维护广大参保人员的权益。</p><P style="MARGIN: 5px"><strong>七、稽核内控工作取得了明显成效</strong></p><P style="MARGIN: 5px">2014年，全省实地稽核21868家参保企业，涉及参保职工222万人。认真落实《河南省社会养老保险事业管理局内部控制实施办法》，做好内控工作。利用指纹比对信息系统开展反欺诈工作取得进展。全年全省新采集指纹18.08万人，目前全省企业离退休人员指纹采集人数为288.5万人，采集率为96.8%，冒领养老金问题得到了有效遏制。</p>

        </dd>
    </dl>

    <script>
        var mySwiper = new Swiper('.swiper-container',{
            slidesPerView : 'auto'
        })
    </script>


  </body>
</html>