<html class="" style="font-size: 100px;"><!--STATUS OK--><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>河南社保助手-    经办机构
</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="">
    <link rel="apple-touch-startup-image" media="(device-height:568px)" href="">
    <link rel="apple-touch-startup-image" media="(device-height:480px)" href="">

    <script src="//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93"></script><script type="text/javascript">
        (function() {
            var isIPhone = window.navigator.appVersion.match(/iphone/gi);
            var scale = 1.0;
            var ratio = 1;
            if (isIPhone && window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }
            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            document.documentElement.style.fontSize = 50 * ratio + "px";
        })();
    </script><meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, width=device-width, user-scalable=no">

    <link rel='stylesheet' href='/stylesheets/global.css' />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css"/>-->

    
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<header class="mod-header">
    <a class="mod-header-goback"></a>
    <h1 class="mod-header-title">    经办机构
</h1>
</header>


<section class="mod-main-content" style="">
                <dl class="mod-list-5 mod-area">
            <dt>河南省社会保障局</dt>
            <dd>地址：郑州市郑东新区商务外环路22号郑银大厦5楼</dd>
            <dd>办公电话：在职：0371-65622533/退休：0371-65622522</dd>
            <dd>办公时间：上午9：00-12：00下午1：00-5：00</dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>郑州</dt>
            <dd>地址：伏牛路与陇海西路交汇处东北方向</dd>
            <dd>办公电话：</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>安阳市</dt>
            <dd>地址：安阳市北关区红旗路158号</dd>
            <dd>办公电话：0372-5117693</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>鹤壁市</dt>
            <dd>地址：鹤壁市淇滨区黎阳路中段</dd>
            <dd>办公电话：0392-3328401</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>济源市</dt>
            <dd>地址：济源市黄河大道中段811号</dd>
            <dd>办公电话：0391-6692218</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>焦作市</dt>
            <dd>地址：焦作市丰收路人社大厦社会保险服务大厅</dd>
            <dd>办公电话：0391-2118670</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>开封</dt>
            <dd>地址：开封市新区郑开大道三大街市民之家4楼</dd>
            <dd>办公电话：0371-3381660</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>洛阳</dt>
            <dd>地址：洛阳市新区开元大道286号洛阳会展中心2楼</dd>
            <dd>办公电话：0379-69933616</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>漯河</dt>
            <dd>地址：漯河市郾城区黄河路458号 （崂山路与黄河路交叉口路南原劳动和社会保障局大楼 ）</dd>
            <dd>办公电话：0395-3134002</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>南阳</dt>
            <dd>地址：南阳市南都路行政服务中心</dd>
            <dd>办公电话：0377-61387750</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>平顶山</dt>
            <dd>地址：业务大厅地址：平顶山市新华区中兴路东10号华诚大厦11楼养老保险服务大厅。局机关地址：平顶山市新华区中兴路北段6号</dd>
            <dd>办公电话：0375-2978799       0375-2978766 </dd>
            <dd>夏季办公时间（5月1日—9月30日）： 上午8:00-12:00 下午3:00-6:00                          冬季办公时间（10月1日-4月30日）： 上午8:00-12:00 下午2:30-5:30</dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>濮阳市</dt>
            <dd>地址：濮阳市人民路与京开大道交叉口南50米路东</dd>
            <dd>办公电话：0393-6662865</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>三门峡</dt>
            <dd>地址：崤山路中段21号市社会养老保险中心</dd>
            <dd>办公电话：0398-2911675</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>商丘</dt>
            <dd>地址：长江路与中州路江叉口市人力资源和社会保障局一楼</dd>
            <dd>办公电话：0370-2020796</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>新乡市</dt>
            <dd>地址：新乡市人民路1号</dd>
            <dd>办公电话：0373-3072730</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>信阳</dt>
            <dd>地址：信阳市羊山新区新五大道88号</dd>
            <dd>办公电话：0376-7676701</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>许昌</dt>
            <dd>地址：莲城大道1001号</dd>
            <dd>办公电话：0374-2623491</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>周口</dt>
            <dd>地址：周口市人民路与工农路交叉口向南</dd>
            <dd>办公电话：0394-8266386</dd>
            <dd></dd>
        </dl>
            <dl class="mod-list-5 mod-area">
            <dt>驻马店</dt>
            <dd>地址：驻马店交通路西段驿城新村3号</dd>
            <dd>办公电话：0396-2815200</dd>
            <dd>夏季办公时间（5月1日—9月30日）： 上午8:00-12:00 下午3:00-6:00                          冬季办公时间（10月1日-4月30日）： 上午8:00-12:00 下午2:30-5:30</dd>
        </dl>
        <p class="feedback-mobile">全省技术支持电话：96633</p>
</section>







</body></html>