<!DOCTYPE html>
<html>
<!--STATUS OK-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>河南社保助手</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="">
    <link rel="apple-touch-startup-image" media="(device-height:568px)" href="">
    <link rel="apple-touch-startup-image" media="(device-height:480px)" href="">

    <script type="text/javascript">
        (function() {
            var isIPhone = window.navigator.appVersion.match(/iphone/gi);
            var scale = 1.0;
            var ratio = 1;
            if (isIPhone && window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }
            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            document.documentElement.style.fontSize = 50 * ratio + "px";
        })();
    </script>

    <link rel='stylesheet' href='/stylesheets/global.css' />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css"/>-->



    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>


    <header class="mod-header">
        <h1 class="mod-header-title">河南社保助手</h1>
    </header>


<section class="mod-main-content" style="{{\core\util\NlHelper::isWechat()?'padding-top:0':''}}">
    <div class="mod-banner swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
            
        
                <a data-url="/Home/Endowment/index?m={{request('m')}}&number={{$user->number or ''}}">
                    <img src="/images/banner_1.jpg" width="100%"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="mod-index-card swiper-container">
        <div class="swiper-wrapper">
            <ul class="swiper-slide">
                <li class="mod-social-dynamic"><a href="/detail">社保动态</a></li>
                <li class="mod-agency"><a href="handling">经办机构</a></li>
                <li class="mod-business-guide"><a href="/guide">业务指南</a></li>
                <li class="mod-care-policy"><a href="regulations">政策法规</a></li>
                <li class="mod-question"><a href="/problem">常见问题</a></li>
                <li class="mod-social-query"><a href="/login">社保查询</a></li>           
                <li class="mod-care-medicate"><a href="/business">业务办理</a></li>
            </ul>
        </div>
    </div>
        <p class="feedback-mobile " style="margin-top: 500px;margin-bottom: 5px;">全省技术支持电话：96633</p>
        <p class="feedback-mobile clearfix" style="margin: 5px;">备案号： 豫ICP备16003482-2</p>
</section>
</body>
</html>
