<html class="" style="font-size: 100px;"><!--STATUS OK--><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>河南社保助手-    常见问题解答
</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="">
    <link rel="apple-touch-startup-image" media="(device-height:568px)" href="">
    <link rel="apple-touch-startup-image" media="(device-height:480px)" href="">

    <script src="//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93"></script><script type="text/javascript">
        (function() {
            var isIPhone = window.navigator.appVersion.match(/iphone/gi);
            var scale = 1.0;
            var ratio = 1;
            if (isIPhone && window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }
            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            document.documentElement.style.fontSize = 50 * ratio + "px";
        })();
    </script><meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, width=device-width, user-scalable=no">

    
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css"/>-->

    
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<header class="mod-header">
    <a class="mod-header-goback"></a>
    <h1 class="mod-header-title">    常见问题解答
</h1>
</header>


<section class="mod-main-content" style="">
        <ul class="mod-list-1 mod-list mod-list-arrow" id="content_list">
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331774939&amp;channelname=常见问题解答">
                <li>
                    <h3>数据采集软件升级时，是否可以更换数据采集软件安装目录？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331730002&amp;channelname=常见问题解答">
                <li>
                    <h3>数据采集软件如何升级？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331690983&amp;channelname=常见问题解答">
                <li>
                    <h3>数据版本号什么时候会发生变动？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331631432&amp;channelname=常见问题解答">
                <li>
                    <h3>参保单位人员较多时，若需要多台电脑分别录入采集数据时，怎么操作？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331585860&amp;channelname=常见问题解答">
                <li>
                    <h3>软件录入界面人员顺序和打印的顺序是按照什么规则？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331533471&amp;channelname=常见问题解答">
                <li>
                    <h3>如果单位是参照公务员法管理的机关（单位），但是人员还执行事业单位工资，相关信息怎么填写？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331454321&amp;channelname=常见问题解答">
                <li>
                    <h3>如果参加工作时间和退休时间档案记载没有精确到日,采集软件要求精确到日，怎么填写？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1460678331385501&amp;channelname=常见问题解答">
                <li>
                    <h3>哪些退休人员需要在数据采集软件录入待遇停发原因和停发时间？</h3>
                    <div>2016-03-31</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1383814886926218&amp;channelname=常见问题解答">
                <li>
                    <h3>停发或暂时停发离退休人员基本养老金的情形有哪些？</h3>
                    <div>2015-06-25</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1383814886996244&amp;channelname=常见问题解答">
                <li>
                    <h3>养老保险基金实行收支两条线管理，需要开设哪些账户？</h3>
                    <div>2015-06-22</div>
                </li>
            </a>
        

            <p class="feedback-mobile">全省技术支持电话：96633</p>
    </ul>
</section>

</body></html>