<html class="" style="font-size: 100px;"><!--STATUS OK--><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>河南社保助手-    政策法规
</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="">
    <link rel="apple-touch-startup-image" media="(device-height:568px)" href="">
    <link rel="apple-touch-startup-image" media="(device-height:480px)" href="">

    <script src="//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93"></script><script type="text/javascript">
        (function() {
            var isIPhone = window.navigator.appVersion.match(/iphone/gi);
            var scale = 1.0;
            var ratio = 1;
            if (isIPhone && window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }
            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            document.documentElement.style.fontSize = 50 * ratio + "px";
        })();
    </script><meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, width=device-width, user-scalable=no">

       <link rel='stylesheet' href='/stylesheets/global.css' />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css"/>-->

    
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?74239025e03297e79ab10eac09058c93";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<header class="mod-header">
    <a class="mod-header-goback"></a>
    <h1 class="mod-header-title">    政策法规
</h1>
</header>


<section class="mod-main-content" style="">
        <ul class="mod-list-1 mod-list mod-list-arrow" id="content_list">
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1487860008197362&amp;channelname=政策法规">
                <li>
                    <h3>关于印发2017年社会保险经办管理服务工作要点的通知</h3>
                    <div>2017-02-14</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1480436222651327&amp;channelname=政策法规">
                <li>
                    <h3>人力资源社会保障部办公厅关于印发《机关事业单位基本养老保险关系和职业年金转移接续经办规程（暂行）》的通知</h3>
                    <div>2017-01-23</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1480436222625458&amp;channelname=政策法规">
                <li>
                    <h3>人力资源社会保障部财政部关于机关事业单位基本养老保险关系和职业年金转移接续有关问题的通知</h3>
                    <div>2017-01-23</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1480436222532861&amp;channelname=政策法规">
                <li>
                    <h3>人力资源社会保障部办公厅关于加快推进跨省异地就医结算系统建设的通知</h3>
                    <div>2017-01-23</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1480436222456652&amp;channelname=政策法规">
                <li>
                    <h3>人力资源社会保障部办公厅关于做好基本医疗保险跨省异地安置退休人员备案工作的通知</h3>
                    <div>2017-01-23</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1480436222349279&amp;channelname=政策法规">
                <li>
                    <h3>人力资源社会保障部财政部关于做好基本医疗保险跨省异地就医住院医疗费用直接结算工作的通知</h3>
                    <div>2017-01-23</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1478942141891728&amp;channelname=政策法规">
                <li>
                    <h3>河南省人民政府办公厅转发省工商局等部门关于加快推进“五证合一一照一码”登记 制度改革实施意见的通知</h3>
                    <div>2016-10-29</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1477733745552428&amp;channelname=政策法规">
                <li>
                    <h3>人力资源社会保障部财政部关于印发职业年金基金管理暂行办法的通知</h3>
                    <div>2016-10-14</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1477733740354867&amp;channelname=政策法规">
                <li>
                    <h3>河南省人民政府办公厅关于印发河南省全民参保登记计划实施方案的通知</h3>
                    <div>2016-10-13</div>
                </li>
            </a>
                    <a href="http://www.heheyun.com.cn:8083/Home/Policy/content?id=1477733741074256&amp;channelname=政策法规">
                <li>
                    <h3>河南省人民政府办公厅关于整合城乡居民基本医疗保险制度的实施意见 </h3>
                    <div>2016-10-13</div>
                </li>
            </a>
        

            <p class="feedback-mobile">全省技术支持电话：96633</p>
    </ul>
</section>





</body></html>